image: alpine/git:latest

pipelines:
  branches:
    master:
      - step:
          name: Sync to GitHub
          script:
            - echo "Syncing to GitHub..."
            - git push --mirror https://${GITHUB_USER}:${GITHUB_PAT}@github.com:icryz36/bff-hrrc-ntl-web-react.git
