image: alpine/git:latest

pipelines:
  custom:
    sync-to-github:
      - step:
          name: Sync to GitHub
          script:
            - echo "Configuring credentials for ${GITHUB_USER}..."
            - git config --global credential.helper store
            - echo "https://${GITHUB_USER}:${GITHUB_PAT}@github.com" > ~/.git-credentials

            - echo "Fetching full history..."
            - git fetch --unshallow || git fetch --all

            - echo "Syncing to GitHub Repository-> ${GITHUB_REPO_URL}..."
            - git push --mirror ${GITHUB_REPO_URL}
