# bitbucket-pipelines.yml
image: atlassian/default-image:latest

pipelines:
  branches:
    main:
      - step:
          clone:
            depth: full
          name: Mirror 'main' to GitHub via SSH
          script:
            - git config --global user.email "pipeline@bitbucket.org"
            - git config --global user.name "Bitbucket Pipeline Mirror"

            - git remote add github git@github.com:icryz36/bff-hrrc-web-react.git

            - git push --mirror github
